<div class="container">
    <div class="fx videos">
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204413990"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Наш эстетичный пикничок</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414004"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Красиво танцуем</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204413943"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">You are so beautiful to me</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204413962"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Super estetik zoom</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414018"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Юстиночка фоткается</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414017"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Рекламирую наш канал</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414016"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Игривый шрек</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414015"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Наслаждаемся видами Чернолучинска</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414014"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Снимаем крутые видосы</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414013"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Бандитники сидим в телефоне на служении</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414009"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Нереально флексим</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414008"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Тренд из тиктока</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414007"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Культурно проводим время</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414006"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Танцую под твои песенки</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414005"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Много шобак в кефсе</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204414003"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Делюсь словом о пожертвованиях</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204413999"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Катаюсь на скейтике</p>
        </div>
        <div class="video-container">
            <iframe src="https://kinescope.io/embed/204413998"
                allow="autoplay; fullscreen; picture-in-picture; encrypted-media;" frameborder="0" allowfullscreen
                class="video"></iframe>
            <p class="video-title">Милашки такие</p>
        </div>
    </div>
</div>